<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.kr.bettersoft.checkmileage_mobile_android_phone_customer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><application>
		<activity android:name="MemberStoreMapPageActivity"></activity>
		<activity android:name="MemberStoreListPageActivity"></activity>
		<activity android:name="SettingsPageActivity"></activity>
		<activity android:name="Settings_PasswordPageActivity"></activity>
		<activity android:name="UnlockPageActivity"></activity>
		<activity android:name="Settings_NotifyPageActivity"></activity>
		<activity android:name="Settings_MyInfoPageActivity"></activity>
		<activity android:name="Settings_FAQPageActivity"></activity>
		<activity android:name="Settings_InfoPageActivity"></activity>
		<activity android:name="Settings_TermsPageActivity"></activity>
		<activity android:name="Settings_LeavePageActivity"></activity>
		<activity android:name="Settings_AboutPageActivity"></activity>
	</application>

</manifest>